{% include 'extension/sidebar.html.twig' %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Inscription</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Enregistrer un tuteur</h3>
                        </div>
                        {{ form_start(form) }}
                        <div class="col text-right">
                            <input type="SUBMIT" class="btn btn-primary btn-slack" value="ENREGISTRER">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="container">
                        <div class="row pb-100">
                            <div class="col">
                                <label class="form-control-label" for="input-username">Nom Complet</label>
                                {{ form_widget(form.nom_complet, {attr: { 'class': 'form-control', 'placeholder':'Entrez le nom complet' }}) }}
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="input-username">Téléphone</label>
                                {{ form_widget(form.telephone, {attr: { 'class': 'form-control', 'placeholder':'Entrez le numero téléphone' }}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "extension/footer.html.twig" %}
</div>